[submodule "sub1"]
	path = sub1
	url = https://github.com/vishnushelar/sub1.git
[submodule "sub2"]
	path = sub2
	url = https://github.com/vishnushelar/sub2.git
[submodule "common/sub3"]
	path = common/sub3
	url = https://github.com/vishnushelar/sub3.git
